#header img {
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
  width: 200px;
}

#header a:link {
  text-decoration: none;
}

#header a:link:hover {
  text-decoration: underline;
}
/*  border: 1px solid #fff; */
/*  border: 1px solid #777; */