/* GENERAL */
html, body {
  color: #555555;
  font-family:Verdana,sans-serif;
  font-size:15px;
}
body {
  margin: 0px;
}
html {
  overflow-x: hidden;
}
p {
  margin: 0;
}
a:link {
  color: #555555;
  text-decoration: none;
}
a:visited {
  color: #555555;
}
a:hover {
  color: #4caf50;
}
#Logo img {
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
  width: 200px;
}
#Logo {
  width: 210px;
}
#header {
  padding-top: 10px;
}
#applab{
  width: 145px;
  padding-top: 40px;
  padding-right: 10px;
  text-align: right;
}
#credits {
  width: 345px;
  padding-right: 10px;
  text-align: right;
}
.bar{
  height: 5px;
}
.bar, .background{
  background-color: #555555
}
.row:after {
  content:"";
  display:table;
  clear:both
}
.right {
  float:right!important
}
.col {
  float:left;
  width: 100%;
}

/* SMALL */
@media only screen and (min-width:601px){
  body {
    font-size: 18px;
  }
}

/* MEDIUM */
@media only screen and (min-width:993px){

}

/* BIG */
#main{
  color: #ffffff;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 50px;
  width: auto;
  padding: 40px 40px 40px 40px;
}

#main a{
  color: #ffffff;
}

#main a:hover{
  color: #4caf50;
}

/* ALTRO */
.animate-right {
  position:relative;
  animation:animateright 0.8s
}
@keyframes animateright {
  from{right:-300px;opacity:0}
  to{right:0;opacity:1}
}
.animate-left {
  position:relative;
  animation:animateleft 1s
}
@keyframes animateleft {
  from{left:-300px;opacity:0}
  to{left:0;opacity:1}}
